body{
    margin: 0;
}
.container{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(1,240px) repeat(3,1fr) ;
    grid-template-rows:repeat(1,130px) repeat(3,1fr) ;
}
.sidebar{
    grid-area: 1/1/5/2;
    background-color: #dc2626;
    display: grid;
    grid-template: 40px repeat(2,220px)/1fr;
    row-gap: 35px;
    color: white;
}
.sidebar svg {
    cursor: pointer;
    fill: white;
}
.Dashbord svg{
    width: 60px;
    height: 40px;
}
.title-dashboard{
    font-size: 20px;
}
.header{
    grid-area: 1/2/2/5;
    background-color:white;
    display: grid;
    grid-template: repeat(2, 60px)/1fr 400px;
}
.main-content{
    grid-area: 2/2/5/5;
    background-color:#cbd5e1;
    display: grid;
    grid-template: repeat(2,1fr)/2fr 280px;
}
svg{
    width: 40px;
    height: 20px;
}
.Dashbord{
    padding: 15px 13px;
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: 1fr/70px 150px;
}
.title-dashboard
{
    padding-top:8px ;
    grid-area: 1/2/2/3;
}
.logo-dashboard
{
    grid-area: 1/1/2/2;
}
.lien-compte{
    padding: 15px;
    grid-area: 2/1/3/2;
    display: grid;
    grid-template: repeat(6,37px)/70px 150px;
}
.logo-home
{
    grid-area: 1/1/2/2;
}
.home{
    cursor: pointer;
    grid-area: 1/2/2/3;
}
.logo-profile{
    grid-area:2/1/3/2 ;
}
.profile{
    cursor: pointer;
    grid-area:2/2/3/3 ;
}
.logo-messages{
    grid-area:3/1/4/2 ;
}
.messages{
    cursor: pointer;
    grid-area:3/2/4/3 ;
}
.logo-history{
    grid-area:4/1/5/2 ;
}
.history{
    cursor: pointer;
    grid-area:4/2/5/3 ;
}
.logo-tasks{
    grid-area:5/1/6/2 ;
}
.tasks{
    cursor: pointer;
    grid-area:5/2/6/3 ;
}
.logo-communities{
    grid-area:6/1/7/2 ;
}
.communities{
    cursor: pointer;
    grid-area:6/2/7/3 ;
}
.lien-parametre{
    padding: 15px;
    grid-area: 3/1/4/2;
    display: grid;
    grid-template: repeat(3,38px)/70px 150px;
}
.logo-settings{
    grid-area:1/1/2/2 ;
}
.settings{
    cursor: pointer;
    grid-area:1/2/2/3 ;
}
.logo-support{
    grid-area:2/1/3/2 ;
}
.support{
    cursor: pointer;
    grid-area:2/2/3/3 ;
}
.logo-privacy{
    grid-area:3/1/4/2 ;
}
.privacy{
    cursor: pointer;
    grid-area:3/2/4/3 ;
}
.project{
    padding-left: 12px;
    grid-area: 1/1/3/2;
    display: grid;
    grid-template: 15px repeat(3,150px)/repeat(2,350px);
    gap: 20px;
}
.title-project{
    padding-top: 10px;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-area: 1/1/2/3;
}
.item1{
    box-shadow: 0.5px 0.5px 2px 0.5px  rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    border-radius: 8px;
    border-left: solid 6px #f97316;
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-rows:120px 30px;
}
.item2{
    box-shadow: 0.5px 0.5px 2px 0.5px  rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    border-radius: 8px;
    border-left: solid 6px #f97316;
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-rows:120px 30px;
}
.item3{
    box-shadow: 0.5px 0.5px 2px 0.5px  rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    border-radius: 8px;
    border-left: solid 6px #f97316;
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-rows:120px 30px;
}
.item4{
    box-shadow: 0.5px 0.5px 2px 0.5px  rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    border-radius: 8px;
    border-left: solid 6px #f97316;
    grid-area: 3/2/4/3;
    display: grid;
    grid-template-rows:120px 30px;
}
.item5{
    box-shadow: 0.5px 0.5px 2px 0.5px  rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    border-radius: 8px;
    border-left: solid 6px #f97316;
    grid-area: 4/1/5/2;
    display: grid;
    grid-template-rows:120px 30px;
}
.item6{
    box-shadow: 0.5px 0.5px 2px 0.5px  rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    border-radius: 8px;
    border-left: solid 6px #f97316;
    grid-area: 4/2/5/3;
    display: grid;
    grid-template-rows:120px 30px;
}
#titre{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.text{
    font-size: small;
    padding: 15px 20px;
    color: #a1a1aa;
    grid-row: 1/1/2/2;
}
.icons{
    padding-left: 210px;
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: repeat(3,40px);
}
.start{
    cursor: pointer;
    padding: 0px 100px 5px 0px;
}
.view{
    cursor: pointer;
    padding: 0px 100px 5px 0px;
}
.partage
{
    cursor: pointer;
    padding: 0px 100px 5px 0px;
}
.announcements{
    grid-area: 1/2/2/3;
    display: grid;
    grid-template: 30px 240px/230px;
}
.title-Anouncements{
    padding-top: 10px;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-row: 1/2;
}
.content-Anouncements{
    box-shadow: 0.5px 0.5px 2px 0.5px  rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 18px 20px;
    margin-top:6px ;
    background-color: white;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 65px 75px 75px;
}
.site{
    font-size: 10px;
    color: #a1a1aa;
    grid-row:1/2;
    border-bottom: solid 1px #a1a1aa8a;
}
.community{
    padding-top: 10px;
    font-size: 10px;
    color: #a1a1aa;
    grid-row:2/3;
    border-bottom: solid 1px #a1a1aa8a;
}
.updated{
    padding-top: 10px;
    font-size: 10px;
    color: #a1a1aa;
    grid-row:3/4;
}
.content-Anouncements span{
    color: black;
    font-size: 13px;
    font-weight: bold;
}
.trending{
    grid-area: 2/2/3/3;
    display: grid;
    grid-template: 30px 220px/230px;
}
.content-trending{
    box-shadow: 0.5px 0.5px 2px 0.5px  rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 18px 16px;
    grid-row: 2/3;
    display: grid;
    background-color: white;
    grid-template: repeat(4,50px)/50px 150px;
}
.title-Trending{
    padding-top: 5px;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-row: 1/2;
}
.logo-tegan
{
    grid-area: 1/1/2/2;
}
.tegan
{
    font-size: small;
    color: #a1a1aa;
    grid-area: 1/2/2/3;
}
.logo-oussama
{
    grid-area: 2/1/3/2;
}
.oussama
{
    font-size: small;
    color: #a1a1aa;
    grid-area: 2/2/3/3;
}
.logo-kendall
{
    grid-area: 3/1/4/2;
}
.kendall
{
    font-size: small;
    color: #a1a1aa;
    grid-area: 3/2/4/3;
}
.logo-alex
{
    grid-area: 4/1/5/2;
}
.alex
{
    font-size: small;
    color: #a1a1aa;
    grid-area: 4/2/5/3;
}
.recherche{
    padding: 15px 20px;
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: 1fr/45px 150px;
}
.logo-recherche{
    grid-column: 1/2;
}
.input-recherche{
    grid-column: 2/3;
}
#input{
    width: 400px;
    height: 20px;
    border-radius: 10px;
    border-style: none;
    background-color:#e7e5e4;
}
.compte{
    padding-left: 30px;
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: 80px 50px 1fr ;
}
.notification{
    cursor: pointer;
    grid-column: 1/2;
    padding: 20px 20px;
}
.logo1{
    padding-top: 11px;
    grid-column: 2/3;
}
.surname{
    font-size: large;
    font-weight: bold;
    padding: 20px 20px;
    grid-column: 3/4;
}
.logo1 img
{
    border-radius: 35px;
    border-style: none;
    width: 45px;
    height: 45px;
}
.introduction{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template:1fr/100px 1fr;
}
.logo2{
    padding-left:30px; 
    grid-area: 1/1/2/2;
}
.logo2 img{
    border-radius: 35px;
    border-style: none;
    width: 60px;
    height: 60px;
}
.description{
    padding-top: 8px;
    grid-area: 1/2/2/3;
}
.description #name{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.description #hi-there{
    font-size: 12px;
}
.button{
    padding: 18px 20px;
    grid-area: 2/2/3/3;
    display: grid;
    grid-template: 30px/repeat(3,80px);
    column-gap: 30px;
}
.new{
    cursor: pointer;
    grid-column: 1/2;
    color: white;
    background-color: #dc2626;
    border-radius: 15px;
    border-style: none;
}
.upload{
    cursor: pointer;
    grid-column: 2/3;
    color: white;
    background-color: #dc2626;
    border-radius: 15px;
    border-style: none;
}
.share{
    cursor: pointer;
    grid-column: 3/4;
    color: white;
    background-color: #dc2626;
    border-radius: 15px;
    border-style: none;
}
#user{
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 500;
}
.content-trending img{
    border-radius: 35px;
    border-style: none;
    width: 35px;
    height: 35px;
}